@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Open Sans", serif;
}
/* 
.btn:hover {
    filter: brightness(1.4);
  } */

/****** 
common 
*******/
.jumbotron,
main,
footer {
    
    padding: 0 330px;
}

.jumbotron > *,
main > * {

    border: 2px dashed black;
}

.bottom-text > * {

    border: 2px dashed white;
}

ul {

    list-style-type: none;
}

a {

    text-decoration: none;
    color: #000000;
}

h1 {

    font-size: 80px;
    font-weight: 800;
}

.side-bar {

    display: flex;
    align-items: center;
}

/* button */
.btn {

    background-color: #0061fe;
    color: #ffffff;
    padding: 5px 15px;
    text-align: center;
}

.big {

    padding: 10px 15px;
}

/* contact us and jumbotron bottom section */
.bottom-text {

    display: flex;
}

.bottom-text span {

    width: fit-content;
}

.bottom-text img {

    max-width: 100%;
    flex-grow: 0;
}

.side-text {

    flex-shrink: 0;
    width: 30%;
}

/* card subscription plans */
.subscription-plans-box,
.main-feature-box {

    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.column-wrap {

    width: calc((100% - 120px) / 3);
}

.sub-plan {

    display: flex;
    flex-direction: column;
    border: 1px solid #d0cfd4;
}

.sub-plan > span {

    border-bottom: 1px solid #d0cfd4;
    text-align: center;
    padding: 10px;
}

.details-box {

    padding: 30px 30px;
}

.details-box h3 {

    margin-bottom: 20px;
}

.price-box {

    font-weight: bold;
}

.exp {

    color: #7080b1;
    margin: 10px 0 40px;
}

.details-box > ul {

    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.spacing-btn {

    margin: 50px 0 30px;
}

.bord-btm {

    padding-bottom: 30px;
    border-bottom: 1px solid #d0cfd4;
}

.buy-link {

    text-decoration: underline;
    color: #0000ee;
}

.plan-high-text {

    font-weight: bold;
    margin: 70px 0 30px;
}

.high-list li:first-child {

    color: #0061fe;
}

/* card subscription plans stretch */
.text-box {

    display: flex;
    justify-content: space-between;
}

.stretch-box .price-box {

    margin-bottom: 50px;
}

.text-box a div.btn {

    padding: 10px 50px;
}

/****** 
header 
*******/
header {

    background-color: #b4d0e6;
    border-top: 1px solid #d0cfd4;
}

/* nav bar */
.nav-bar {

    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-bar ul {

    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-bar li a:hover {

    border-bottom: 2px solid #000000;
    padding-bottom: 27px;
}

.side-bar img {

    padding-right: 30px;
}

.side-bar .btn {

    margin-left: 20px;
}

/* jumbotron */
.jumbotron {

    margin-top: 100px;
    position: relative;
    top: 40px;
}

.jumbotron .bottom-text {

    position: relative;
    top: 50px;
}

.jumbotron .side-text > * {

    margin: 40px 0;
}

.jumbotron .side-text p:first-child {

    margin-top: 0;
}

.jumbotron .side-text i {

    font-size: 60px;
}

/****** 
main 
*******/
main {

    margin-top: 150px;
    border-top: 1px solid #d0cfd4;
    padding-top: 50px;
}

main h2 {

    font-size: 45px;
}

main h3 {

    font-size: 25px;
}

/* radio button */
.box-radio-btn {

    display: flex;
    gap: 50px;
    margin: 60px 0 50px;
}

.radio-group {

    display: flex;
    align-items: center;
    gap: 5px;
}

.ext-circle {

    border: 2px solid #d0cfd4;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.int-circle {

    background-color: #ffffff;

    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.selected {

    border: 2px solid #0061fe;
    background-color: #0061fe;
}

/* sub plan */
.spacing-box {

    margin: 60px 0 200px;
}

/* contact us */
.contact-text {

    width: 40%;
    padding: 60px 50px;
}

.contact-text p {

    margin: 20px 0 35px;
}

.bottom-text a div.big {

    border: 1px solid #000000;
    display: inline-block;
}

/* main feature */
.main-feature-container {

    margin: 130px 0 200px;
}

.main-feature-container h2 {

    margin-bottom: 70px;
}

.main-feature-container h3 {

    margin-bottom: 30px;
}

.feature-img img {

    max-width: 100%;
}

/* customer feedback */
.customer-feedback-container {

    margin-bottom: 150px;
    width: 60%;
}

.customer-feedback-container h2 {

    margin-bottom: 40px;
}

/****** 
footer 
*******/
footer {

    background-color: #000000;
}

footer * {

    color: #ffffff;
}

.useful-link-box {

    display: flex;
    justify-content: space-between;
    padding: 60px 0 80px;
}

.useful-link-box ul li:first-child {

    margin-bottom: 15px;
}

.useful-link-box li{

    line-height: 2.3;
}

.lang-select-box {

    display: inline-block;
    border-top: 1px solid #ffffff;
    padding: 40px 30px 40px 0;
}

.lang-select {

    display: flex;
    gap: 5px;
}

.lang-select li:first-child {

    padding-right: 5px;
}