@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: aquamarine;
    font-family: "Open Sans", serif;
}

/****** 
common 
*******/
.jumbotron,
main,
footer {
    
    padding: 0 330px;
}

.jumbotron > * {

    border: 2px dashed black;
}

.jumbo-bottom-text > * {

    border: 2px dashed white;
}

ul {

    list-style-type: none;
}

a {

    text-decoration: none;
    color: #000000;
}

h1 {

    font-size: 80px;
    font-weight: 800;
}

.side-bar {

    display: flex;
    align-items: center;
}

.btn {

    background-color: #0061fe;
    color: #ffffff;
    padding: 5px 15px;
}

.big {

    padding: 10px 15px;
}

/****** 
header 
*******/
header {

    background-color: #b4d0e6;
}

/* nav bar */
.nav-bar {

    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
}

.nav-bar ul {

    display: flex;
    align-items: center;
    gap: 30px;
}

.side-bar img {

    padding-right: 30px;
}

.side-bar .btn {

    margin-left: 20px;
}

/* jumbotron */
.jumbotron {

    position: relative;
    top: 40px;
}

.jumbo-bottom-text {

    display: flex;
    position: relative;
    top: 50px;
}

.jumbo-bottom-text span {

    width: fit-content;
}

.jumbo-bottom-text img {

    max-width: 100%;
    flex-grow: 0;
}

.side-text {

    flex-shrink: 0;
    width: 30%;
}

.side-text > * {

    margin: 40px 0;
}

.side-text p:first-child {

    margin-top: 0;
}

.side-text i {

    font-size: 60px;
}

/****** 
main 
*******/

/****** 
footer 
*******/